
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav 
      #drawer 
      class="sidenav" 
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'side'"
      [opened]="(isHandset$ | async) === false">

  <mat-list>
      <button  mat-button routerLink="home">
        <i class="material-icons md-24 side-links">home</i>Home
      </button>
      
      <button mat-button [matMenuTriggerFor]="queries">
        <i class="material-icons md-24 side-links">cloud</i>Cache Query
      </button>
      
      <button mat-button  [matMenuTriggerFor]="reports" routerLink="reporting-dashboard">
          <i class="material-icons md-24 side-links">assessment</i>
          Reporting
      </button>

      <button mat-button routerLink="config-change">
          <i class="material-icons md-24 side-links">settings</i>
          Config
      </button>
  
   </mat-list>

    <mat-menu #queries="matMenu">
          <button mat-menu-item [routerLink]="['query', 'Position']">Position</button>
          <button mat-menu-item [routerLink]="['query', 'Instrument']">Instruments</button>
          <button mat-menu-item [routerLink]="['query', 'Market Data']">Market Data</button>
          <button mat-menu-item [routerLink]="['query', 'Limits']">Limits</button>
    </mat-menu>

    <mat-menu #reports="matMenu">
        <button mat-menu-item [routerLink]="['report', 'Market Data']">Market Data Report</button>
        <button mat-menu-item [routerLink]="['report', 'Short Sell']">Short Sell Report</button>
        <button mat-menu-item [routerLink]="['report', 'Bad Instrument']">Bad Instrument Static Report</button>
    </mat-menu>

  </mat-sidenav>

  <ng-content></ng-content>

</mat-sidenav-container>


