.sidenav-container {
  height: 100%;
  /* z-index: -1;
  position:fixed; */
}

.sidenav {
  /* position: fixed; */
  width: 200px;
  /* z-index:-1; */
}

.sidenav .mat-toolbar {
  background: inherit;
}

/* setting size of the material icons */
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }

.ord-man {
  font-size: 15px;
}

.side-links {
  color: grey;
  margin: 0 15px; 
}

.side-links:hover {
  color: black;
}